<section id="post" class="post">
  <arcile class="post">

    <h1 class="post_title">
      <%= @post.title %>
    </h1>

    <div class="post content">
      <%= @post.contet.html_safe%>
    </div>

  </arcile>
  <% form_new_comment :action => 'add_comment' %>
    <%= %>
    <%= text_field 'comment', 'message' %><br>
    <%= submit 'Post' %>
  <% end  %>

</section>
