<section id="post" class="post">
  <arcile class="post">

    <h1 class="post_title">
      <%= @post.title %>
    </h1>
    <div class="post content">
      <%= @post.contet.html_safe%>
    </div>
  </arcile>

  <comment-form>
    <%= form_for @post.comments.new url: {action: "add_comment"} do |f| %>
      Title: <%=  f.text_field :new_comment_title%><br>
      Comment: <%= f.text_area :new_comment_body %><br>
      <%= f.submit 'Add Comment' %>
    <% end  %>
  </comment-form>

</section>
